<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Table Example</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <h1 style="margin-bottom: 0;">DEKORDOR® SHD </h1>
  <p style=" color: #ffffff; margin-top: 0%;">
    Stock off
  </p>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>SAP Code</th>
        <th>Description</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% data.row.forEach(item=> { %>
        <tr>
          <td>
            <%= item.sap_code %>
          </td>
          <td>
            <%= item.description %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
        </tr>
        <% }); %>


          <table border="1px" id="tabela-2" class="tabela-2" style="border: 1px solid ;border-collapse:collapse" ;>

            <tr style=" background-color:  #e4dede; line-height: 5px;">
              <th colspan="3">
                <p>DEKORDOR® SHD - STOCK</p>
              </th>
            </tr>

            <tr>
              <td>
                <img src="C:\Users\DiogoMoreira\Documents\Projetos\xml-to-pdf\Imagens\737409.png">

              </td>

              <td>
                <img src="C:\Users\DiogoMoreira\Documents\Projetos\xml-to-pdf\public\692623.jpg">
              </td>

              <td>
                <img src="C:\Users\DiogoMoreira\Documents\Projetos\xml-to-pdf\Imagens\735226.png">
              </td>
            </tr>
            <tr>
              <td>
                <img src="782581.png ">
              </td>

              <td>
                <img src="783875.png">

              </td>

              <td>
                <img src="http://localhost:3000/public/692623.jpg" />
              </td>

            </tr>

          </table>


          <b>Notes:</b>As we are constantly improving our product range, we reserve the right to make changes without
          prior
          notice.

</body>

<footer>


  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <footer>
            <div class="left" style="margin-right: 20px;">
              Vicaima S.A.
              <p><span id="current-date"></span></p>
            </div>
            <div class="center" style="text-align: center;">
              Apartado 9, 3730-953 Vale de Cambra
              <p>E: vicaima@vicaima.com</p>
            </div>
            <div class="right" style="text-align: right;">
              www.vicaima.com
            </div>
          </footer>
          <script>
            const currentDate = new Date();
            const currentMonth = currentDate.toLocaleString('default', { month: 'long', localeMatcher: 'best fit' })
              .replace(/^\w/, (c) => c.toUpperCase());
            const currentYear = currentDate.getFullYear();
            document.getElementById('current-date').textContent = `${currentMonth} ${currentYear}`;
          </script>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
  </div>
  </div>
</footer>
</tbody>
</table>
</body>

</html>