<html>

<head>
  <meta charset="UTF-8">
  <title>Stock Off - Routes</title>
  <!-- Include any additional CSS styles if necessary -->
</head>

<body>
  <h1>Stock Off Routes</h1>

  <ul>
    <% routes.forEach(route=> { %>
      <li>
        <a href="<%= route.path %>">
          <%= route.name %>
        </a>
      </li>
      <% }); %>
  </ul>
  <a href="/download-pdf">Download All PDFs</a>

</body>
 
</html>