<html>

<head>
  <meta charset="UTF-8">
  <title>Stock Off - Routes</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>Stock Off Routes</h1>

  <ul>
    <% routes.forEach(route=> { %>
      <li>
        <a href="<%= route.path %>">
          <%= route.name %>
        </a>
      </li>
      <% }); %>
  </ul>
  <a href="/upload-pdf" target="_blank" class="screen-only">Upload PDF to FTP</a>
  <a href="/download-pdf" target="_blank" class="screen-only">Download PDF</a>
</body>

</html>