<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Stock Off</title>
  <style>
    /* Adjustments for PDF generation */
    .header {
      width: 100%;
      height: 100px;
      background-image: url('http://localhost:3000/img/VicaimaHeader.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    .header-text {
      color: white;
      font-size: 18px;
    }
    table {
      page-break-inside: avoid; /* Avoid breaking table rows across pages */
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    /* CSS for screen display */
    @media screen {
      .pdf-only {
        display: none; /* Hide elements with the "pdf-only" class on screen */
      }
    }

    /* CSS for printing */
    @media print {
      .screen-only {
        display: none; /* Hide elements with the "screen-only" class when printing */
      }
      table {
        page-break-inside: avoid; /* Avoid breaking table rows across pages */
      }
    }

  </style>
</head>
<body>
  <!-- Header section -->
  <div class="header">
    <div class="header-text">
      <%= routeName %> ® <br>
      STOCK OFF
    </div>
  </div>

  <!-- Table section -->
  <table>
    <thead>
      <tr>
        <th>Código Material</th>
        <th>Descrição</th>
        <th>Quantidade (m)</th>
      </tr>
    </thead>
    <tbody>
      <% if (data && data.row) { %>
        <% data.row.forEach((item, index) => { %>
          <% if (index % 30 === 0 && index !== 0) { %>
            </tbody>
          </table>
          <div style="page-break-before: always;"></div>
          <table>
            <thead>
              <tr>
                <th>Código Material</th>
                <th>Descrição</th>
                <th>Quantidade (m)</th>
              </tr>
            </thead>
            <tbody>
          <% } %>
          <tr>
            <td><%= item.sap_code %></td>
            <td><%= item.description %></td>
            <td><%= item.quantity %></td>
          </tr>
        <% }); %>
      <% } %>
    </tbody>
  </table>

  <!-- Download link only visible on screen -->
  <a href="/download-pdf" target="_blank" class="screen-only">Download PDF</a>

</body>
</html>